<div class="row">
	<div class="large-12 columns">
		<h2>Last news</h2>
	</div>
	<ejs> if (newest.length === 0) { </ejs>
		<div class="row"><p>Nothing to show</p></div>
	<ejs> } else { </ejs> 
		<ejs> for (var x = 0; x < newest.length; x++){ </ejs>
		
			<div class="row"><p><ejs>=newest[x].date</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].title</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].description</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].link</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].comment</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].author</ejs></p></div>
			<div class="row"><p><ejs>=newest[x].category</ejs></p></div>
		
		<ejs> } </ejs>	
	<ejs> } </ejs> 
</div>