{
        "author":"timothy",
        "author_s":"timothy",
        "title":"French Gov't Runs Vast Electronic Spying Operation of Its Own",
        "category":["communications"],
        "slash-section":"yro",
        "description":"Freshly Exhumed writes with this news (quoting The Guardian):
		\"France runs a vast electronic surveillance operation, intercepting and stocking data from citizens' 
		phone and internet activity, using similar methods to the U.S. National Security Agency's Prism programme 
		exposed by Edward Snowden, Le Monde has reported. An investigation by the French daily [en fran&#231;ais; 
		Google translation] found that the DGSE, France's external intelligence agency, had spied on the French 
		public's phone calls, emails and internet activity. The agency intercepted signals from computers and phones 
		in France as well as between France and other countries, looking not so much at content but to create a 
		map of 'who is talking to whom,' the paper said.\"
		<p>
			<div class=\"share_submission\" style=\"position:relative;\"> 
				<a class=\"slashpop\" 
				href=\"http://twitter.com/home?status=French+Gov't+Runs+Vast+Electronic+Spying+Operation+of+Its+Own%3A+http%3A%2F%2Fbit.ly%2F1bahG1u\">
				<img src=\"http://a.fsdn.com/sd/twitter_icon_large.png\"></a> 
				<a class=\"slashpop\" href=\"http://www.facebook.com/sharer.php?u=http%3A%2F%2Fyro.slashdot.org%2Fstory%2F13%2F07%2F04%2F1748220%2Ffrench-govt-runs-vast-electronic-spying-operation-of-its-own%3Futm_source%3Dslashdot%26utm_medium%3Dfacebook\">
				<img src=\"http://a.fsdn.com/sd/facebook_icon_large.png\"></a> 
				<a class=\"nobg\" href=\"http://plus.google.com/share?url=http://yro.slashdot.org/story/13/07/04/1748220/french-govt-runs-vast-electronic-spying-operation-of-its-own?utm_source=slashdot&amp;utm_medium=googleplus\" onclick=\"javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;\"><img src=\"http://www.gstatic.com/images/icons/gplus-16.png\" alt=\"Share on Google+\"/></a> 
			</div>
		</p>
		<p>
		<a href=\"http://yro.slashdot.org/story/13/07/04/1748220/french-govt-runs-vast-electronic-spying-operation-of-its-own?utm_source=rss1.0moreanon&amp;utm_medium=feed\">Read more of this story</a> at Slashdot.</p><iframe src=\"http://slashdot.org/slashdot-it.pl?op=discuss&amp;id=3938107&amp;smallembed=1\" style=\"height: 300px; width: 100%; border: none;\"></iframe><img width='1' height='1' src='http://slashdot.feedsportal.com/c/35028/f/647410/s/2e374eee/mf.gif' border='0'/><br/><br/><a href=\"http://da.feedsportal.com/r/165665767387/u/49/f/647410/c/35028/s/2e374eee/a2.htm\">
		<img src=\"http://da.feedsportal.com/r/165665767387/u/49/f/647410/c/35028/s/2e374eee/a2.img\" border=\"0\"/></a>
		<img width=\"1\" height=\"1\" src=\"http://pi.feedsportal.com/r/165665767387/u/49/f/647410/c/35028/s/2e374eee/a2t.img\" border=\"0\"/>
		<img src=\"http://feeds.feedburner.com/~r/Slashdot/slashdot/~4/dMLqmWSFcHE\" height=\"1\" width=\"1\"/>",
        "slash-comments":"23",
        "link":"http://rss.slashdot.org/~r/Slashdot/slashdot/~3/dMLqmWSFcHE/story01.htm",
        "slash-department":"but-it's-only-wafer-thin-metadata",
        "date":"2013-07-04T15:06:00Z",
        "_version_":1439733898774839296},
		
		"description":"\n\n
		<p class=\"image-container\" style=\"text-align: center;\">
		<a href=\"http://www.engadget.com/2013/07/04/european-parliament-votes-to-investigate-us-surveillance/?utm_source=Feed_Classic&amp;utm_medium=feed&amp;utm_campaign=Engadget\">
		<img alt=\"European Parliament votes to investigate US surveillance, may suspend data agreements\" 		data-src-height=\"340\" 		data-src-width=\"620\" src=\"http://www.blogcdn.com/www.engadget.com/media/2013/07/european-parliament-strasbourg-jlogan-wikipedia.jpg\" /></a>
		</p>\n\n
		<p>Not surprisingly, the 
		<a href=\"http://www.engadget.com/2013/04/10/eu-countries-to-allow-reuse-of-public-data/?utm_source=Feed_Classic&amp;utm_medium=feed&amp;utm_campaign=Engadget\">
		European Parliament</a> isn't happy to hear that the NSA and other US agencies are allegedly 
		<a href=\"http://www.engadget.com/2013/06/21/court-documents-reveal-rules-allowing-nsa-to-use-us-data-without/?utm_source=Feed_Classic&amp;utm_medium=feed&amp;utm_campaign=Engadget\">
		snooping on communications</a> 
		in Europe and elsewhere. It isn't just complaining loudly, however -- the Parliament just voted 483-98 in favor of 
		a resolution that will investigate US surveillance activities in Europe and report on their impact before the end of the year. 
		The measure also asks EU officials to consider limiting the data they voluntarily provide to American authorities, such 
		as shutting down programs that forward air passenger and bank records. There's nothing in the resolution that would 
		immediately affect the EU-to-US communication pipeline, but that could change in half a year -- US intelligence outlets 
		may not get their European information served on a silver platter for much longer.</p>\n\n<p>[Image credit: JLogan, 
		<a href=\"http://en.wikipedia.org/wiki/File:EP_Strasbourg_hemicycle_l-gal.jpg\">Wikipedia</a>]</p>\n
		<p>Filed under: 
		<a href=\"http://www.engadget.com/category/internet/?utm_source=Feed_Classic&amp;utm_medium=feed&amp;utm_campaign=Engadget\" rel=\"tag\">
		Internet</a></p>\n<p><strong>
		<a href=\"http://www.engadget.com/2013/07/04/european-parliament-votes-to-investigate-us-surveillance/?utm_source=Feed_Classic&amp;utm_medium=feed&amp;utm_campaign=Engadget#comments\">
		Comments
		</a></strong></p>\n
		<p><strong>Via:</strong> 
		<a href=\"http://www.zdnet.com/eu-votes-to-support-suspending-u-s-data-sharing-agreements-including-passenger-flight-data-7000017677/\" target=\"_blank\">
		ZDNet</a><!--//-->
		</p>\n
		<p><strong>Source:</strong> 
		<a href=\"http://www.europarl.europa.eu/news/en/pressroom/content/20130701IPR14770/html/Parliament-to-launch-in-depth-inquiry-into-US-surveillance-programmes\" target=\"_blank\">
		European Parliament</a><!--//--></p>\n\n",
        "link":"http://www.engadget.com/2013/07/04/european-parliament-votes-to-investigate-us-surveillance/?utm_medium=feed&utm_source=Feed_Classic&utm_campaign=Engadget",
        "source-link":"http://www.engadget.com",
        "date":"2013-07-04T21:55:00Z",
        "_version_":1439733900491358208},
		
		
		 "description":"
		 <img alt=\"Spiderman\" src=\"http://rack.3.mshcdn.com/media/ZgkyMDEzLzA3LzEzLzlmL3NwaWRlcm1hbi4wZDYyZC5qcGcKcAl0aHVtYgk1NzV4MzIzIwplCWpwZw/08023f51/f0f/spiderman.jpg\" />
		 <div style=\"float: right; width: 50px;\">
		 <a href=\"http://twitter.com/share?via=Mashable&text=28+Incredible+Moments+in+Photos&src=http%3A%2F%2Fmashable.com%2F2013%2F07%2F13%2Fincredible-moments%2F%3Futm_campaign%3DMash-Product-RSS-Pheedo-All-Partial%26utm_cid%3DMash-Product-RSS-Pheedo-All-Partial%26utm_medium%3Dfeed%26utm_source%3Drss\" style=\"margin: 10px;\">
		 <img alt=\"Feed-tw\" border=\"0\" src=\"http://rack.3.mshcdn.com/assets/feed-tw-df3e816c4e85a109d6e247013aed8d66.jpg\" /></a>
		 <a href=\"http://www.facebook.com/sharer.php?u=http%3A%2F%2Fmashable.com%2F2013%2F07%2F13%2Fincredible-moments%2F%3Futm_campaign%3DMash-Product-RSS-Pheedo-All-Partial%26utm_cid%3DMash-Product-RSS-Pheedo-All-Partial%26utm_medium%3Dfeed%26utm_source%3Drss&src=sp\" style=\"margin: 10px;\">
		 <img alt=\"Feed-fb\" border=\"0\" src=\"http://rack.1.mshcdn.com/assets/feed-fb-fdab25e3700868c9621fb03b7fd07c38.jpg\" /></a>
		 </div>
		 <p>Although the Fourth of July has come and gone, this week was still filled with photogenic events. Travel around the world 
		 with us as we show you these noteworthy, emotional and downright incredible moments, captured in 28 photos</p>\n
		 <p>Islamic 
		 countries across the world begin fasting from dawn to dusk for the holy month of Ramadan, upholding such abstinence to cleanse 
		 the soul and strengthen spiritual bonds. Several museum exhibitions, featuring objects ranging from fish tanks to medieval 
		 armor, have opened this week, drawings hordes of visitors.</p>
		 \n<div><p>See also: 
		 <a href=\"http://mashable.com/2013/04/24/cool-city-maps/?utm_campaign=Mash-Product-RSS-Pheedo-All-Partial&amp;utm_cid=Mash-Product-RSS-Pheedo-All-Partial&amp;utm_medium=feed&amp;utm_source=rss\" data-crackerjax=\"#post-slider\">
		 Get Lost in These 19 Fascinating Maps</a>
		 </p></div>\n
		 <p>Yorkshire farmer Tom Pearcy breaks a world record with his York Maize Maze, the world's largest image of a Dalek, or a cyborg 
		 encased in a robotic shell. The Japanese star festival, or Tanabata, is celebrated across the country, and New York City opens a 
		 hotel bar constructed completely from ice. And in Pamplona, the Running of the Bulls Festival, made famous by Ernest Hemingway. 
		 continues for nine days. 
		 <a href=\"http://mashable.com/2013/07/13/incredible-moments/?utm_campaign=Mash-Product-RSS-Pheedo-All-Partial&amp;utm_cid=Mash-Product-RSS-Pheedo-All-Partial&amp;utm_medium=feed&amp;utm_source=rss\">Read more...</a>
		 </p>\n
		 <a href='http://ad.doubleclick.net/jump/mash.to/rss;pos=atf;tag=ad;mtype=standard;type=rss;sz=300x250;ord=1373811382' target='_blank'>\n
		 <img src='http://ad.doubleclick.net/ad/mash.to/rss;pos=atf;tag=ad;mtype=standard;type=rss;sz=300x250;ord=1373811382'>\n
		 </a>",