<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Foundation 4</title>
	<link rel="stylesheet" href="../css/foundation.css">
	<link rel="stylesheet" href="../css/override.css">
	<script src="js/vendor/custom.modernizr.js"></script>
	<script>
		var newest = 	'<ejs>= newest </ejs>';
		var marketing = '<ejs>= marketing </ejs>';
		var cloud = 	'<ejs>= cloud </ejs>';
		var technology = '<ejs>= technology </ejs>';
		var gadget = 	'<ejs>= gadget </ejs>';
		
	</script>

</head>
<body>

	<!-- First row -->
	<div class="row">
		<div class="small-12 columns">			
			<div class="panel">
				<h2>Last news</h2>
				<div class="row">
					<ejs> if (newest.length === 0) { </ejs>
						
							<p>Nothing to show</p>
						
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < newest.length; x++){ </ejs>
							<div class="row fresh">
								<div class="large-2 columns large-offset-1">
									<div class="row">
										<div class="large-12 small-6 columns">
											<img src="http://a.fsdn.com/sd/topics/<ejs>=newest[x].category[0]</ejs>_64.png" onerror="this.src='../img/slashdot_64.png'"/></p>
										</div>
										<div class="large-12 small-6 columns">
												<div class="dateBox">
													<div class="dBoxD">
														<ejs> if (newest[x].date[0] < 10) { </ejs>
															0<ejs>=newest[x].date[0]</ejs>
														<ejs> } else {</ejs>
															<ejs>=newest[x].date[0]</ejs>
														<ejs> } </ejs>
													</div>
													<div class="dBoxM"><ejs>=newest[x].date[1][1]</ejs></div>
													<div class="dBoxY"><ejs>=newest[x].date[2]</ejs></div>
												</div>
										</div>
									</div>
									
								</div>
								
								<div class="small-12 large-9 columns">
									<h4><ejs>=newest[x].title</ejs></h4>
									<p>
										<ejs>=newest[x].description</ejs>
										... 
										<a href="<ejs>=newest[x].link</ejs>"> Read more</a>
									</p>
									
									<p>
										Comments: <a href="<ejs>=newest[x].link</ejs>#comments"><ejs>=newest[x]['slash-comments']</ejs></a> | 
										Author: <ejs>=newest[x].author</ejs> |
										<ejs>if(newest[x].category.length > 1){</ejs>
											Categories: 
										<ejs> } else { </ejs>
											Category:
										<ejs> } </ejs>
										<ejs> for(var y = 0; y < newest[x].category.length; y++) { </ejs>
											<a href="http://slashdot.org/tag/<ejs>=newest[x].category[y]</ejs>">
											<ejs>=newest[x].category[y]</ejs></a>
											<ejs>if(y < newest[x].category.length - 1){</ejs>
											 , 
											<ejs>}</ejs>
										<ejs> }	</ejs>
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs>
				</div>
			</div>
		</div>
	</div>	

	
	<hr />
	
	<!-- Second row -->
	<div class="row ">
		<div class="large-6 columns">
			<div class="panel">
				<h2>Marketing</h2>
				<p>
					<ejs> if (marketing.length === 0) { </ejs>
						<div class="row"><p>Nothing to show</p></div>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < marketing.length; x++){ </ejs>
							
									<h4><ejs>=marketing[x].title</ejs></h4>
									<p><ejs>=marketing[x].description</ejs></p>
									<p><a href="<ejs>=marketing[x].link</ejs>">Read more</a></p>
							
							<div class="row">				
								<div class="large-2 columns">
									<ejs>=marketing[x].date[0]</ejs>. <ejs>=marketing[x].date[1][0]</ejs>
								</div>
								<div class="large-4 columns">
									<p>
										Comments: <a href="<ejs>=marketing[x].link</ejs>#comments"><ejs>=marketing[x]['slash-comments']</ejs></a>
										
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</p>
			</div>
		</div>	

		<div class="large-6 columns">
			<div class="panel">
				<h2> Cloud</h2>
			
				<p>
					<ejs> if (cloud.length === 0) { </ejs>
						<div class="row"><p>Nothing to show</p></div>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < cloud.length; x++){ </ejs>
							
								<h4><ejs>=cloud[x].title</ejs></h4>
								<p><ejs>=cloud[x].description</ejs></p>
								<p><a href="<ejs>=cloud[x].link</ejs>">Read more</a></p>
							
						
							<div class="row">				
								<div class="large-2 columns">
									<ejs>=cloud[x].date[0]</ejs>. <ejs>=cloud[x].date[1][0]</ejs>
								</div>
								<div class="large-4 columns">
									<p>
										Comments: <a href="<ejs>=cloud[x].link</ejs>#comments"><ejs>=cloud[x]['slash-comments']</ejs></a>
										
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</p>
			</div>
		</div>
	</div>	
	<hr />
	
	<!-- Third row -->
	<div class="row ">
		<div class="large-6 columns">
			<div class="panel">
				<h2>Technology</h2>
				
				<p>
					<ejs> if (technology.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < technology.length; x++){ </ejs>
							
									<h4><ejs>=technology[x].title</ejs></h4>
									<p><ejs>=technology[x].description</ejs></p>
									<p><a href="<ejs>=technology[x].link</ejs>">Read more</a></p>
								
							
							<div class="row">				
								<div class="large-2 columns">
									<ejs>=technology[x].date[0]</ejs>. <ejs>=technology[x].date[1][0]</ejs>
								</div>
								<div class="large-4 columns">
									<p>
										Comments: <a href="<ejs>=technology[x].link</ejs>#comments"><ejs>=technology[x]['slash-comments']</ejs></a>
										
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</p>
			</div>
		</div>	

		<div class="large-6 columns">
			<div class="panel">
				<h2>Gadget</h2>
				
				<p>			
					<ejs> if (gadget.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < gadget.length; x++){ </ejs>
							<div class="row">
								<h4><ejs>=gadget[x].title</ejs></h4>
								<p><ejs>=gadget[x].description</ejs></p>
								<p><a href="<ejs>=gadget[x].link</ejs>">Read more</a></p>
							
							</div>
							<div class="row">				
								<div class="large-2 columns">
									<ejs>=gadget[x].date[0]</ejs>. <ejs>=gadget[x].date[1][0]</ejs>
								</div>
								<div class="large-4 columns">
									<p>
										Comments: <a href="<ejs>=gadget[x].link</ejs>#comments"><ejs>=gadget[x]['slash-comments']</ejs></a>
										
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs>
				</p>
			</div>
		</div>
	</div>
	
	<script>
	
	</script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
	<script src="../js/foundation.min.js"></script>
  <!--
  
  <script src="../js/foundation/foundation.js"></script>
  
  <script src="../js/foundation/foundation.alerts.js"></script>
  
  <script src="../js/foundation/foundation.clearing.js"></script>
  
  <script src="../js/foundation/foundation.cookie.js"></script>
  
  <script src="../js/foundation/foundation.dropdown.js"></script>
  
  <script src="../js/foundation/foundation.forms.js"></script>
  
  <script src="../js/foundation/foundation.joyride.js"></script>
  
  <script src="../js/foundation/foundation.magellan.js"></script>
  
  <script src="../js/foundation/foundation.orbit.js"></script>
  
  <script src="../js/foundation/foundation.reveal.js"></script>
  
  <script src="../js/foundation/foundation.section.js"></script>
  
  <script src="../js/foundation/foundation.tooltips.js"></script>
  
  <script src="../js/foundation/foundation.topbar.js"></script>
  
  <script src="../js/foundation/foundation.interchange.js"></script>
  
  <script src="../js/foundation/foundation.placeholder.js"></script>
  
  <script src="../js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
