<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Homework</title>
	<link rel="stylesheet" href="../css/foundation.css">
	<link rel="stylesheet" href="../css/override.css">
	<script src="js/vendor/custom.modernizr.js"></script>	
</head>
<body>
	<nav class="top-bar">
	  <ul class="title-area">
		<!-- Title Area -->
		<li class="name">
		  <div class="homeLabel">
			  <h1>
				<a href="/">Homework</a>
			  </h1>
		  </div>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="/"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">	   
		<!-- Right Nav Section -->
		<ul class="right">
			<li class="divider hide-for-small"></li>
			<li class="active">
				<a href="/">
					<span data-tooltip class="has-tip" title="Posts are taken from url sent by e-mail">
						Original data
					</span>
				</a>
			</li>
			<li class="divider hide-for-small"></li>
			<li class="active">
				<a href="/different">
					<span data-tooltip class="has-tip" title="Posts are taken from different urls filtered by category and date">
						Custom data
					</span>
				</a>
			</li>
			<li class="divider hide-for-small"></li>
		</ul>
	  </section>
	</nav>
	<div class="dots"></div>
	<!-- First row -->
	<div class="row">
		<div class="small-12 columns">			
			<div class="panel">
				<h2 class="field">Fresh news</h2>
				<div class="row">
					<ejs> if (newest.length === 0) { </ejs>
						
							<p>Nothing to show</p>
						
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < newest.length; x++){ </ejs>
							<div class="row fresh">
								<div class="small-10 large-2 columns large-offset-1 small-offset-2">
									<div>	
										<div>
											<div class="dBoxBack">
												<div class="dateBox">
													<div class="dBoxD">
														<ejs> if (newest[x].date[0] < 10) { </ejs>
															0<ejs>=newest[x].date[0]</ejs>
														<ejs> } else {</ejs>
															<ejs>=newest[x].date[0]</ejs>
														<ejs> } </ejs>
													</div>
													<div class="dBoxM"><ejs>=newest[x].date[1][1]</ejs></div>
													<div class="dBoxY"><ejs>=newest[x].date[2]</ejs></div>
												</div>
											</div>
											<img class="freshIMG" src="<ejs>-newest[x].img</ejs>" alt="First image in article" onError="this.onerror=null;this.src='../img/EarthInHand.jpg';"/>
										</div>
									</div>
								</div>
								
								<div class="small-12 large-7 columns large-offset-2">
									<a href="/post/<ejs>=newest[x].linkCode</ejs>"><h4><ejs>-newest[x].title</ejs></h4></a>
									<p>
										<ejs>-newest[x].description</ejs>
										... 
										<a href="/post/<ejs>=newest[x].linkCode</ejs>"> Read more</a>
									</p>
									
									<p>
										Comments: <a href="<ejs>=newest[x].link</ejs>#comments"><ejs>=newest[x]['slash-comments']</ejs></a> | 
										Author: <ejs>-newest[x].author</ejs> |
										<ejs>if(newest[x].category.length > 1){</ejs>
											Categories: 
										<ejs> } else { </ejs>
											Category:
										<ejs> } </ejs>
										<ejs> for(var y = 0; y < newest[x].category.length; y++) { </ejs>
											<a href="<ejs>=newest[x].link</ejs>/tag/<ejs>=newest[x].category[y]</ejs>">
											<ejs>=newest[x].category[y]</ejs></a>
											<ejs>if(y < newest[x].category.length - 1){</ejs><span class="blueDot">&bull; </span>
											<ejs>}</ejs>
										<ejs> }	</ejs>
									</p>
								</div>
							</div>
						<ejs> } </ejs>	
					<ejs> } </ejs>
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<!-- Second row -->
	<div class="row ">
		<div class="large-6 columns">
			<div class="panel">
				<h2 class="field">Marketing</h2>
				<div>
					<ejs> if (marketing.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < marketing.length; x++){ </ejs>
									
							<div class="panel">
								<a href="/post/<ejs>=marketing[x].linkCode</ejs>"><h5><ejs>-marketing[x].title</ejs></h5></a>
								<p>
									<ejs>-marketing[x].description</ejs>
									... 
									<a href="/post/<ejs>=marketing[x].linkCode</ejs>"> Read more</a>
								</p>
								<div class="row uppercase">				
									<div class="large-6 columns">
										<p>
											<ejs>=marketing[x].date[0]</ejs>. 
											<ejs>=marketing[x].date[1][0]</ejs> 
										</p>
									</div>
									<div class="large-6 columns">
										<p>
											Comments: <a href="<ejs>=marketing[x].link</ejs>#comments"><ejs>=marketing[x]['slash-comments']</ejs></a>
										</p>
									</div>
								</div>
							</div>
							
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</div>
			</div>
		</div>	

		<div class="large-6 columns">
			<div class="panel">
				<h2 class="field">Cloud</h2>			
				<div>
					<ejs> if (cloud.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < cloud.length; x++){ </ejs>
									
							<div class="panel">								
								<a href="/post/<ejs>=cloud[x].linkCode</ejs>"><h5><ejs>-cloud[x].title</ejs></h5></a>
								<p>
									<ejs>-cloud[x].description</ejs>... 
									<a href="/post/<ejs>=cloud[x].linkCode</ejs>"> Read more</a>
								</p>
								<div class="row uppercase">				
									<div class="large-6 columns">
										<p>
											<ejs>=cloud[x].date[0]</ejs>. 
											<ejs>=cloud[x].date[1][0]</ejs> 
										</p>
									</div>
									<div class="large-6 columns">
										<p>
											Comments: <a href="<ejs>=cloud[x].link</ejs>#comments"><ejs>=cloud[x]['slash-comments']</ejs></a>
										</p>
									</div>
								</div>
							</div>
							
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<!-- Third row -->
	<div class="row ">
		<div class="large-6 columns">
			<div class="panel">
				<h2 class="field">Technology</h2>			
				<div>
					<ejs> if (technology.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < technology.length; x++){ </ejs>
									
							<div class="panel">
								<div class="row ">
									<div class="large-2 columns">
										<div class="favicon" style="background-image: url(http://g.etfv.co/<ejs>-technology[x].link</ejs>)"></div>
									</div>
									<div class="large-10 columns">								
										<a href="/post/<ejs>=technology[x].linkCode</ejs>"><h5><ejs>-technology[x].title</ejs></h5></a>
										<p>
											<ejs>-technology[x].description</ejs>... 
											<a href="/post/<ejs>=technology[x].linkCode</ejs>"> Read more</a>
										</p>
									</div>
								</div>
								<div class="row uppercase">				
									<div class="large-6 columns">
										<p>
											<ejs>=technology[x].date[0]</ejs>. 
											<ejs>=technology[x].date[1][0]</ejs> 
										</p>
									</div>
									<div class="large-6 columns">
										<p>
											<a href="<ejs>=technology[x].link</ejs>#comments"><ejs>=technology[x]['slash-comments']</ejs> 
												<ejs>if(technology[x]['slash-comments'] < 1 || technology[x]['slash-comments'] > 1){</ejs>
													comments 
												<ejs> } else { </ejs>
													comment
												<ejs> } </ejs>
											</a>
										</p>
									</div>
								</div>
							</div>
							
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</div>
			</div>
		</div>	

		<div class="large-6 columns">
			<div class="panel">
				<h2 class="field">Gadget</h2>			
				<div>
					<ejs> if (gadget.length === 0) { </ejs>
						<p>Nothing to show</p>
					<ejs> } else { </ejs> 
						<ejs> for (var x = 0; x < gadget.length; x++){ </ejs>
									
							<div class="panel">
								<div class="row ">
									<div class="large-2 columns">
										<div class="favicon" style="background-image: url(http://g.etfv.co/<ejs>-technology[x].link</ejs>)"></div>
									</div>
									<div class="large-10 columns">								
										<a href="/post/<ejs>=gadget[x].linkCode</ejs>"><h5><ejs>-gadget[x].title</ejs></h5></a>
										<p>
											<ejs>-gadget[x].description</ejs>... 
											<a href="/post/<ejs>=gadget[x].linkCode</ejs>"> Read more</a>
										</p>
									</div>
								</div>
								<div class="row uppercase">				
									<div class="large-6 columns">
										<p>
											<ejs>=gadget[x].date[0]</ejs>. 
											<ejs>=gadget[x].date[1][0]</ejs> 
										</p>
									</div>
									<div class="large-6 columns">
										<p>
											<a href="<ejs>=gadget[x].link</ejs>#comments"><ejs>=gadget[x]['slash-comments']</ejs> 
												<ejs>if(gadget[x]['slash-comments'] < 1 || gadget[x]['slash-comments'] > 1){</ejs>
													comments: 
												<ejs> } else { </ejs>
													comment:
												<ejs> } </ejs>
											</a>
										</p>
									</div>
								</div>
							</div>
							
						<ejs> } </ejs>	
					<ejs> } </ejs> 
				</div>
			</div>
		</div>	
	</div>
	
	<script>
		document.write('<script src=' +
		('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
		'.js><\/script>')
	</script>  
	<script src="../js/foundation.min.js"></script>
	<script src="../js/foundation/foundation.tooltips.js"></script>

		<!--

		<script src="../js/foundation/foundation.js"></script>

		<script src="../js/foundation/foundation.alerts.js"></script>

		<script src="../js/foundation/foundation.clearing.js"></script>

		<script src="../js/foundation/foundation.cookie.js"></script>

		<script src="../js/foundation/foundation.dropdown.js"></script>

		<script src="../js/foundation/foundation.forms.js"></script>

		<script src="../js/foundation/foundation.joyride.js"></script>

		<script src="../js/foundation/foundation.magellan.js"></script>

		<script src="../js/foundation/foundation.orbit.js"></script>

		<script src="../js/foundation/foundation.reveal.js"></script>

		<script src="../js/foundation/foundation.section.js"></script>

		<script src="../js/foundation/foundation.tooltips.js"></script>

		<script src="../js/foundation/foundation.topbar.js"></script>

		<script src="../js/foundation/foundation.interchange.js"></script>

		<script src="../js/foundation/foundation.placeholder.js"></script>

		<script src="../js/foundation/foundation.abide.js"></script>

		-->

	<script>
		$(document).foundation();
	</script>
</body>
</html>
